@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins&display=swap");
/*Reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat Alternates';
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html body {
  height: 100vh;
}

html body a {
  text-decoration: none;
}

#bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(13, 0, 17, 0.6);
  overflow: hidden;
}

#bg #bg-video {
  position: fixed;
  top: 0;
  z-index: -1;
}

#bg header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8vh;
  background-color: rgba(13, 0, 17, 0.6);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(13, 0, 17, 0.2);
          box-shadow: 0px 1px 3px 1px rgba(13, 0, 17, 0.2);
  -webkit-filter: drop-shadow(0px 1px 2px rgba(13, 0, 17, 0.6));
          filter: drop-shadow(0px 1px 2px rgba(13, 0, 17, 0.6));
}

#bg header .logo img {
  width: 120px;
  cursor: pointer;
}

#bg main {
  height: 78vh;
  margin: 0% 6% 0% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#bg main .texto-inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

#bg main .texto-inicio h1 {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

#bg main .texto-inicio h2 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 14px;
}

#bg main .texto-inicio h3 {
  font-weight: 600;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 18px;
}

#bg main .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bg main .formulario .tab {
  margin-top: 12px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(114, 101, 136, 0.2);
}

#bg main .formulario .tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
}

#bg main .formulario .tab button:hover {
  background: rgba(114, 101, 136, 0.4);
}

#bg main .formulario .tab button.active {
  background: rgba(114, 101, 136, 0.6);
  color: #ddff00;
  border-bottom: 2px solid #ddff00;
}

#bg main .formulario .tabcontent {
  display: none;
  background: rgba(114, 101, 136, 0.6);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
  width: 100%;
}

#bg main .formulario .form-ingresar {
  padding: 15px;
}

#bg main .formulario .form-ingresar fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#bg main .formulario .form-ingresar fieldset .ingresa-usuario, #bg main .formulario .form-ingresar fieldset .ingresa-email, #bg main .formulario .form-ingresar fieldset .ingresa-password {
  width: 80%;
}

#bg main .formulario .form-ingresar fieldset .ingresa-usuario input, #bg main .formulario .form-ingresar fieldset .ingresa-email input, #bg main .formulario .form-ingresar fieldset .ingresa-password input {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background: none;
  height: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.25px;
  padding-left: 4%;
  color: #FFFFFF;
  width: 100%;
}

#bg main .formulario .form-ingresar fieldset .ingresa-usuario input::-webkit-input-placeholder, #bg main .formulario .form-ingresar fieldset .ingresa-email input::-webkit-input-placeholder, #bg main .formulario .form-ingresar fieldset .ingresa-password input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
}

#bg main .formulario .form-ingresar fieldset .ingresa-usuario input:-ms-input-placeholder, #bg main .formulario .form-ingresar fieldset .ingresa-email input:-ms-input-placeholder, #bg main .formulario .form-ingresar fieldset .ingresa-password input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
}

#bg main .formulario .form-ingresar fieldset .ingresa-usuario input::-ms-input-placeholder, #bg main .formulario .form-ingresar fieldset .ingresa-email input::-ms-input-placeholder, #bg main .formulario .form-ingresar fieldset .ingresa-password input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
}

#bg main .formulario .form-ingresar fieldset .ingresa-usuario input::placeholder, #bg main .formulario .form-ingresar fieldset .ingresa-email input::placeholder, #bg main .formulario .form-ingresar fieldset .ingresa-password input::placeholder {
  color: #FFFFFF;
  opacity: 60%;
}

#bg main .formulario .form-ingresar .text-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

#bg main .formulario .form-ingresar .text-log h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin: 0 3% 0 1%;
}

#bg main .formulario .form-ingresar .text-log a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E2FA67;
  margin-left: 6%;
}

#bg main .formulario .form-ingresar .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

#bg main .formulario .form-ingresar .boton-registro {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.25px;
  padding: 10px 24px;
  background: rgba(221, 255, 0, 0.8);
  border-radius: 100px;
  -webkit-box-shadow: 0px 4px 8px 3px rgba(13, 0, 17, 0.2);
          box-shadow: 0px 4px 8px 3px rgba(13, 0, 17, 0.2);
  -webkit-filter: drop-shadow(0px 1px 3px rgba(13, 0, 17, 0.2));
          filter: drop-shadow(0px 1px 3px rgba(13, 0, 17, 0.2));
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#bg main .formulario .form-ingresar .boton-registro:hover {
  background: #ddff00;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 30px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 30px 0 rgba(0, 0, 0, 0.19);
}

#bg main .img-ingresar, #bg main .img-ingresar2 {
  display: none;
}

#bg footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 14vh;
  bottom: 0px;
  background: rgba(13, 0, 17, 0.6);
}

#bg footer ul .footer-link {
  display: none;
}

#bg footer ul li {
  list-style-type: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  padding: 6px;
  color: rgba(221, 255, 0, 0.5);
}

#bg footer ul li a {
  text-decoration: none;
  color: #CAC4D0;
  opacity: 90%;
}

#bg-profiles {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(20, 0, 26, 0.98);
  overflow: hidden;
}

#bg-profiles header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8vh;
  background-color: rgba(13, 0, 17, 0.6);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(13, 0, 17, 0.2);
          box-shadow: 0px 1px 3px 1px rgba(13, 0, 17, 0.2);
  -webkit-filter: drop-shadow(0px 1px 2px rgba(13, 0, 17, 0.6));
          filter: drop-shadow(0px 1px 2px rgba(13, 0, 17, 0.6));
}

#bg-profiles header .logo img {
  width: 120px;
  cursor: pointer;
}

#bg-profiles main {
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0% 6% 0% 6%;
}

#bg-profiles main h1 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-size: 600;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 2.2rem;
}

#bg-profiles main .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

#bg-profiles main .members .btn {
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  border: none;
  outline: none;
  margin-top: 3rem;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-profiles main .members .btn:nth-child(2) {
  background-image: url("../img/profiles/user1.jpg");
}

#bg-profiles main .members .btn:nth-child(3) {
  background-image: url("../img/profiles/user2.jpg");
}

#bg-profiles main .members .btn:nth-child(4) {
  background-image: url("../img/profiles/user3.jpg");
}

#bg-profiles main .members .btn:hover {
  -webkit-box-shadow: inset 0 0 0 3px #ddff00;
          box-shadow: inset 0 0 0 3px #ddff00;
}

#bg-profiles main .members .btn span {
  text-align: center;
  width: inherit;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
}

#bg-profiles main .members .addIcon {
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  border: none;
  outline: none;
  margin-top: 3rem;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-profiles main .members .addIcon span {
  width: inherit;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
}

#bg-profiles main .members .addIcon i {
  font-size: 3rem;
  color: #ddff00;
  opacity: 0.4;
}

#bg-profiles main .members .addIcon i:hover {
  opacity: 1;
}

#bg-profiles main .manageProfile {
  border: 1px solid rgba(13, 0, 17, 0.6);
  color: rgba(13, 0, 17, 0.6);
  text-transform: uppercase;
  padding: 0.5rem 0.9rem;
  letter-spacing: 0.3rem;
  font-size: 0.7rem;
  margin-top: 5rem;
  background-color: transparent;
  width: 15rem;
  cursor: pointer;
}

#bg-profiles main .manageProfile:hover {
  border: 1px solid #fff;
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: rgba(13, 0, 17, 0.6);
  -webkit-box-shadow: 0px 1px 1px 3px rgba(13, 0, 17, 0.2);
          box-shadow: 0px 1px 1px 3px rgba(13, 0, 17, 0.2);
  -webkit-filter: drop-shadow(0px 1px 2px rgba(13, 0, 17, 0.6));
          filter: drop-shadow(0px 1px 2px rgba(13, 0, 17, 0.6));
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: 'Poppins', sans-serif;
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: #1d1b31;
}

.sidebar .nav-links li .iocn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  -webkit-transition: 0s;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .job {
  font-size: 12px;
}

#bg-home {
  position: relative;
  background-color: rgba(20, 0, 26, 0.98);
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

#bg-home .home-nav {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(13, 0, 17, 0.6);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(13, 0, 17, 0.2);
          box-shadow: 0px 1px 3px 1px rgba(13, 0, 17, 0.2);
  -webkit-filter: drop-shadow(0px 1px 2px rgba(13, 0, 17, 0.6));
          filter: drop-shadow(0px 1px 2px rgba(13, 0, 17, 0.6));
}

#bg-home .home-nav .bx-menu {
  color: #ddff00;
  font-size: 24px;
  margin: 0 15px;
  cursor: pointer;
}

#bg-home footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 14vh;
  bottom: 0px;
  background: rgba(13, 0, 17, 0.6);
}

#bg-home footer ul .footer-link {
  display: none;
}

#bg-home footer ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  padding: 6px;
  color: rgba(221, 255, 0, 0.5);
}

#bg-home footer ul li a {
  color: #CAC4D0;
  opacity: 90%;
}

.sidebar.close ~ #bg-home {
  left: 78px;
  width: calc(100% - 78px);
}

@media (max-width: 576px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  .sidebar {
    width: 78px;
  }
  .sidebar .profile-details {
    width: 78px;
  }
  .sidebar.close {
    width: 0;
  }
  .sidebar.close .profile-details {
    width: 0px;
  }
  .sidebar.close .profile-details img {
    display: none;
  }
  #bg-home {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  #bg-home .home-nav .bx-menu {
    font-size: 32px;
  }
  .sidebar.close ~ #bg-home {
    width: 100%;
    left: 0;
  }
}

/*Media Queries*/
@media (min-aspect-ratio: 16 / 9) {
  #bg-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  #bg-video {
    width: auto;
    height: 100%;
  }
}

@media screen and (min-width: 576px) {
  #bg main {
    height: 80vh;
  }
  #bg main .texto-inicio {
    margin-top: 12px;
  }
  #bg main .texto-inicio h1 {
    font-size: 36px;
  }
  #bg main .texto-inicio h2 {
    font-size: 28px;
  }
  #bg main .texto-inicio h3 {
    font-size: 30px;
  }
  #bg main .formulario .tab {
    margin-top: 10px;
  }
  #bg footer {
    height: 12vh;
  }
  #bg-profiles main {
    row-gap: 2rem;
  }
  #bg-profiles main h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-size: 600;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 2rem;
  }
  #bg-profiles main .manageProfile {
    padding: 0.7rem 1rem;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    width: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  #bg header .logo img {
    width: 160px;
  }
  #bg main {
    height: 86vh;
  }
  #bg main .texto-inicio {
    margin-top: 0px;
    gap: 0px;
  }
  #bg main .texto-inicio h1 {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -0.5px;
  }
  #bg main .texto-inicio h2 {
    font-size: 36px;
    margin-top: 0px;
  }
  #bg main .texto-inicio h3 {
    font-weight: 600;
    font-size: 40px;
    margin-top: 0px;
  }
  #bg main .formulario .tab {
    margin-top: 0px;
    width: 70%;
    height: 50px;
  }
  #bg main .formulario .tab button {
    width: 70%;
    font-size: 16px;
    line-height: 16px;
  }
  #bg main .formulario .tabcontent {
    width: 70%;
  }
  #bg main .formulario .form-ingresar fieldset .ingresa-usuario input, #bg main .formulario .form-ingresar fieldset .ingresa-email input, #bg main .formulario .form-ingresar fieldset .ingresa-password input {
    height: 50px;
    font-size: 18px;
    line-height: 18px;
  }
  #bg main .formulario .form-ingresar .text-log {
    margin-top: 20px;
  }
  #bg main .formulario .form-ingresar .text-log h3, #bg main .formulario .form-ingresar .text-log a {
    font-size: 16px;
    line-height: 16px;
  }
  #bg main .formulario .form-ingresar .botones {
    margin-top: 20px;
  }
  #bg main .formulario .form-ingresar .botones .boton-registro {
    font-size: 18px;
    line-height: 18px;
    padding: 12px 40px;
  }
  #bg main .img-ingresar {
    display: block;
    position: absolute;
    width: 360px;
    height: 520px;
    right: -107px;
    bottom: 50px;
  }
  #bg main .img-ingresar2 {
    display: block;
    position: absolute;
    width: 360px;
    height: 520px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0);
    left: -107px;
    bottom: 50px;
  }
  #bg footer {
    height: 6vh;
  }
  #bg footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #bg footer ul .footer-link {
    display: block;
  }
  #bg footer ul li {
    font-size: 12px;
    line-height: 12px;
    padding: 0;
  }
  #bg-profiles header .logo img {
    width: 150px;
  }
  #bg-profiles main h1 {
    font-size: 3.3rem;
    letter-spacing: 0.2rem;
  }
  #bg-profiles main .members {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  #bg-profiles main .members .btn {
    height: 10rem;
    width: 10rem;
  }
  #bg-profiles main .members .btn:hover {
    -webkit-box-shadow: inset 0 0 0 5px #ddff00;
            box-shadow: inset 0 0 0 5px #ddff00;
  }
  #bg-profiles main .members .btn span {
    bottom: -3.5rem;
    font-size: 2rem;
  }
  #bg-profiles main .members .addIcon {
    height: 10rem;
    width: 10rem;
  }
  #bg-profiles main .members .addIcon span {
    bottom: -3.5rem;
    font-size: 2rem;
  }
  #bg-profiles main .members .addIcon i {
    font-size: 6rem;
    color: #ddff00;
  }
  #bg-profiles main .manageProfile {
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    margin-top: 6rem;
    width: 40rem;
  }
  #bg-home footer {
    height: 6vh;
  }
  #bg-home footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  #bg-home footer ul .footer-link {
    display: block;
  }
  #bg-home footer ul li {
    font-size: 12px;
    line-height: 12px;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */