/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Imports utilities

@import "utilities/variables";
@import "utilities/keyframes";

html body{
    height: 100vh;
    a{
        text-decoration: none;
    }
}

// Import Pages Styles
@import "pageStyles/index";
@import "pageStyles/home";


// Import MediaQueries
@import "utilities/media";