.carousel{
    width: 100%;
    margin: 16px 0 60px 0;
    .slick-list{
        position: relative;
        display: flex;
        align-items: center;
        width: fit-content;
        height: 300px;
        width: 100%;
        overflow: hidden;
        .slick-track{
            position: relative;
            margin: 0 16px;
            display: flex;
            justify-content: center;
            transition: .5s ease-in-out;
            .slick{
                position: relative;
                width: 210px;
                padding: 0 8px;
                float: left;
                display: flex;
                height: 100%;
                a{
                    h4{
                        position: absolute;
                        z-index: 1;
                        font-size: 20px;
                        line-height: 23px;
                        color: white;
                        padding: 12px;
                        small{
                            font-size: 14px;
                            display: block;
                        }
                    }
                    img{
                        object-fit: cover;
                        height: 300px;
                        width: 100%;
                        border-radius: 8px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
                        transition: .3s ease-in-out;
                        &:hover{
                            opacity: .85;
                        }
                    }
                }
            }
        }
        .slick-arrow{
            border-radius: 30px;
            background-color: $bar-color;
            position: absolute;
            z-index: 4;
            width: 32px;
            height: 32px;
            text-align: center;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
            border: 0;
            cursor: pointer;
            &:focus{
                outline: 0;
            }
            svg{
                width: 12px;
                height: 100%;
                color: $accent-color;
            }
        }
        .slick-prev{
            left: 16px;
        }
        .slick-next{
            right: 16px;
        }
    }
}