//Color Variants

$bar-color: rgba(31, 1, 41, 0.5);
$shadow-color: rgba(31, 1, 41, 0.15);
$accent-color:#DDFF00;
$text-color:#FFFFFF;
$border-color: #E6E4EA;
$footer-text-color: #CAC4D0;

$first-color: hsl(228, 81%, 49%);
$title-color: hsl(228, 12%, 15%);
$text-color2: hsl(228, 8%, 50%);
$body-color: hsl(228, 100%, 99%);
$container-color: #fff;