//Color Variants

$bg-color:rgba(20, 0, 26, 0.98);
$bar-color: rgba(13, 0, 17, 0.6);
$shadow-color: rgba(13, 0, 17, 0.2);
$accent-color:rgb(221, 255, 0);
$text-color:#FFFFFF;
$border-color: #E6E4EA;
$footer-text-color: #CAC4D0;